<section>
    <h1>Lop</h1>

    <button ng-click="addClass()">Them lop</button>

    <table>
        <tr>
            <thead>
                <td>#</td>
                <td width="70%">Lop</td>
                <td>Thuoc</td>
                <td>Thao tac</td>
            </thead>
        </tr>
        <tr dir-paginate="klass in klasses| itemsPerPage:5">
            <td>{{$index + 1}}</td>
            <td>{{klass.name}}</td>
            <td>{{klass.belong}}</td>
            <td class="Interactive">
                <button ng-click="editClass(klass, klass.belong)">Sua</button>
                <button ng-click="deleteClass(klass)">Xoa</button>
            </td>
        </tr>
    </table>

    <dir-pagination-controls class="dir" max-size="5" direction-links="true" boundary-links="true">
    </dir-pagination-controls>

</section>